---
import Layout from "../layouts/Layout.astro";
import RibbonLogos from "../components/RibbonLogos";
import BigTitle from "../components/BigTitle.astro";
---

<Layout title="Welcome to Marketron">
	<main class="text-gray-800">
		<div class="flex flex-col items-center justify-center">
		<BigTitle title="Marketr🎯n" />
		<p class="text-xl md:text-2xl text-center max-w-2xl mb-8">
			Revolutionize your marketing strategy with AI-powered insights and automation
		</p>
		<a href="#" class="bg-blue-600 hover:bg-blue-800 text-white font-bold border-black border-2 py-3 px-6 rounded-full text-lg transition duration-300 ease-in-out transform  mb-12">
			Get Started Free
		</a>
		</div>
		<RibbonLogos client:visible />
	</main>
</Layout>