---
import Layout from '../layouts/Layout.astro';
import OopsContent from '../components/OopsContent';
---

<Layout title="Marketron">
  <main class="flex items-center justify-center min-h-[calc(100vh-200px)] lg:p-6 p-4">
    <OopsContent client:load />
  </main>
</Layout>