---
import Layout from '../layouts/Layout.astro';
import OopsContent from '../components/OopsContent';
---

<Layout title="Marketron">
  <main class="flex items-center justify-center min-h-screen p-8">
    <OopsContent client:load />
  </main>
</Layout>